<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chef.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.app.chef.features.profile.presentation.screen.BookingsActivity"
            android:exported="false" />
        <activity
            android:name="com.app.chef.features.dashboard.presentation.screens.ProviderDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.app.chef.features.profile.presentation.screen.ModuleDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.app.chef.features.profile.presentation.base.ProfileBaseActivity"
            android:exported="false" />
        <activity
            android:name="com.app.chef.features.profile.presentation.screen.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.app.chef.features.chat.presentation.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.presentation.base.AuthenticationsActivity"
            android:exported="false" />
        <activity
            android:name=".features.launcher.presentation.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Chef.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.dashboard.presentation.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>